<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="/"
      class="nav-link text-white {% if path == "index" %} active {% endif %}"
      aria-current="page">
      Kontaktformular
      

    </a>
  </li>

  <li>
    <a href="/contacts"
      class="nav-link text-white {% if path == "contacts" %} active {% endif %}">
      Gespeicherte Emails
    </a>
  </li>
</ul>
